.header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway;
  font-weight: 400;
  padding: 20px;
  position: relative;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.address {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.address-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.address-menu-list,
.menu-link {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  color: inherit;
  white-space: nowrap;
}

.menu-link:hover,
.menu-link:focus {
  text-decoration: underline;
}

.menu-link.active {
  text-decoration: none;
}

.header-logo {
  width: 148px;
  height: 105px;
}

.header-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  flex: 1;
}

.content-section_cover {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 757px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  color: white;
  padding-bottom: 50px;
  margin-bottom: 180px;
}

.content-section_cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1; 
}

.content-section_cover * {
  position: relative;
  z-index: 2;
}

.text-block {
  width: 100%;
  max-width: 1100px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 120px;
  position: relative;
}

.ono, .tebe, .nado {
  font-family: Raleway;
  font-size: 60px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ono {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: left;
  align-self: start;
}

.tebe {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  align-self: start;
  margin-top: -19px;
  margin-left: -6px;
}

.nado { /*ошибка в том, что я делала через гриды, а не флексы, поэтому это слово расходится с наложением в пиксел-перфект((*/
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: -30px;
}

.description {
  position: absolute;
  width: 100%;
  max-width: 1000px;
  height: 51px;
  top: auto;
  bottom: 50px;
  left: 50px;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-p {
  width: 100%;
  max-width: 680px;
  height: 28px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  word-spacing: 18px;
  letter-spacing: 1px;
}

.button {
  width: 256px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: transparent;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0; 
}

.content-section_lots {
  position: relative;
  background-color: white;
  width: 1052px;
  height: 723px; 
  display: block;
}

.lottt {
  height: 47px;
  left: 40px;
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-top: 27px;
  flex-wrap: wrap;
}

.container div {
  width: 334px;
  height: 596px;
  position: relative;
}

.container div h3 {
  top: 48px;
  left: 40px;
  width: 254px;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
}

.area-film,
.area-book,
.area-kartina {
  display: flex;
  width: 334px;
  height: 196px;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: space-between;
}

.area-film {
  background-image: url('../images/card-lot-01.jpg');
}

.area-book {
  background-image: url('../images/card-lot-02.jpg');
}

.area-kartina {
  background-image: url('../images/card-lot-03.jpg');
}

.area-film::before,
.area-book::before,
.area-kartina::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.content-section_lots * {
  position: relative;
  z-index: 2;
}

.p-link {
  font-size: 20px;
  color: black;
  position: relative;
  margin-left: 40px;
  transform: translateY(30px);
}

.text-description {
  position: relative;
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: white;
}

.content-section_about {
  position: relative;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1052px;
  height: 595px;
  left: 24px;
  padding: 0;
  margin: 0;
}

.grid-item-logo {
  /*background-color: pink;*/
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0;
}

.logo-background {
  position: absolute;
  bottom: 308px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-curcle-container {
  position: relative;
  width: 148px;
}

.logo-white {
  position: relative;
  margin-bottom: 250px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.grid-item-p {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sub-item-logo {
  /*background-color: purple;*/
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  margin: 0;
}

.auction-title {
  margin-top: 160px;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.sub-item-p {
  /*background-color: green;*/
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.about-p {
  position: relative;
  margin-left: 16px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
  margin-bottom: 12px;
}

.about-p-bottom {
  position: relative;
  margin-left: 16px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
}

.content-section_footer {
  width: 100%;
  max-width: 1100px;
  background-color: white;
  margin-top: 180px;
}

.footer-menu-list {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  letter-spacing: 0%;
  padding: 0;
  margin-top: -25px;
}

.menu-link-list {
  display: block; 
  text-align: center; 
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  text-decoration: underline;
}

a.active {
  text-decoration: none;
}

.footer-menu-list-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  letter-spacing: 0%;
  padding: 0;
  margin-top: -25px;
}

.imagens {
  position: relative;
  margin-top: -25px;
  right: 0;
  display: flex;
  flex-direction: row;
}

.img {
  display: flex;
  margin-right: 48px;
}

.img:last-child {
  margin-right: 0;
}

.logo {
  width: 48px;
  height: 48px;
}
